html {
  font-family: "Noto Sans", sans-serif;
  background-color: #fff;
}

li a {
  text-decoration: none;
  color: #005e76;
  border-bottom: 2px #8bc9d9 solid;
}

li a :hover {
  color: #860927;
}

.skip-links {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}


mid-p {
  width: 60%;
  margin: auto;
}

h1 {
  font-family: "Noto Sana Japanese", sans-serif;
  color: #000;
}

.mid-section {
  border-top: 2px #e2e2e2 solid;
  border-bottom: 2px #e2e2e2 solid;
}

footer {
  border-top: 2px #e2e2e2 solid;
}

.btn {
  color: #b64
}

.btn-ghost:hover {
  border-color: #860927;
  color: #005e76;
}
