html {
  font-family: "Noto Sans", sans-serif;
  background-color: #000;
}

li a {
  text-decoration: none;
  color: #d89fb0;
  border-bottom: 2px #d89fb0 solid;
}

li a :hover {
  color: #860927;
}

mid-p {
  width: 60%;
  margin: auto;
}

h1 {
  font-family: "Noto Sana Japanese", sans-serif;
}

.mid-section {
  border-top: 2px #e2e2e2 solid;
  border-bottom: 2px #e2e2e2 solid;
}

footer {
  border-top: 2px #e2e2e2 solid;
}

.btn {
  color: #b64
}

.btn-ghost:hover {
  border-color: #860927;
  color: #860927;
}
