html {
  font-family: "Noto Sans", sans-serif;
  background-color: #fff;
}

li a {
  text-decoration: none;
  color: #005e76;
  border-bottom: 2px #8bc9d9 solid;
}

li a :hover {
  color: #860927;
}

.skip-links {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background: #000;
  color: #fff;
  padding: 0.5em 0.5em;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

mid-b {
  width: 60%;
  margin: auto;
}

h1 {
  font-family: "Noto Sans Japanese", sans-serif;
  color: #000;
}

.mid-section {
  border-top: 2px #e2e2e2 solid;
  border-bottom: 2px #e2e2e2 solid;
}

footer {
  border-top: 2px #e2e2e2 solid;
}

a {
  color: #005e76;
  text-decoration: none;
}

.btn {
  border-style: solid;
  border-width: 2px;
  border-color: #8bc9d9;
  border-radius: 5px;
  background-color: #fff;
}

.btn-ghost:hover {
  background-color: #8bc9d9;
  border-color: #0084a6;

}
